// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	height: 800px;
	background-image: url("/images/backgrounds/login-sativagt.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#bs-over .jumbotron h1 {
	text-align: center;
	color: #fff;
	text-shadow: 0px 2px 3px #000;
	
}